.SunWind {
  font-family: "Heebo", sans-serif;
  text-align: center;
}
.container {
  padding: 30px 0px 30px 0px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.sunriseLabel,
.sunsetLabel,
.windSpeedLabel {
  color: #c24d2c;
  font-weight: 800;
}
.row {
  padding: 20px;
}
