.CurrentWeather,
.SunWind,
.WeatherForecast {
  font-family: "Heebo", sans-serif;
  text-align: center;
}

#weather-image-display {
  width: 100%;
}
.imageContainer {
  position: relative;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CurrentWeather h1 {
  font-size: 80px;
  padding: 20px;
}
.CurrentWeather h2 {
  font-size: 30px;
  padding: 20px 0px 20px 0px;
}
.CurrentWeather h3 {
  font-size: 20px;
  padding-bottom: 30px;
}

#search-button {
  padding: 12px 15px 12px 15px;
}

.SunWind {
  padding: 30px 0px 0px 0px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.WeatherForecast {
  padding: 30px 0px 30px 0px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.sunriseLabel,
.sunsetLabel,
.windSpeedLabel,
.forecastDay {
  color: #c24d2c;
  font-weight: 800;
}
.row {
  padding: 20px;
}

.Search .container {
  padding: 30px 0px 30px 0px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  font-family: "Heebo", sans-serif;
}

.Search .row {
  padding-left: 0px;
}

#temperature-conversion .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

#temperature-conversion .active:hover {
  text-decoration: none;
}

#temperature-conversion {
  text-align: right;
}
